---
import BaseLayout from '../layouts/BaseLayout.astro';
import NewsletterForm from '../components/NewsletterForm.astro';
---

<BaseLayout
  title="Newsletter - Khaled Garbaya"
  description="Stay up to date with my latest posts and projects"
>
  <div class="px-6 pt-32 pb-24 sm:px-10 sm:pt-40">
    <div class="mx-auto max-w-7xl">
      <NewsletterForm />
    </div>
  </div>
</BaseLayout>

